<div class="app-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 content-box">
        <div class="content-box-inner">
          <div id="house-header">
            <div id="header-image">
              <img src="{{currentHouse.foto}}" alt=""
                id="houseImg">
            </div><br>
            <div id="house-desc">
              <h4 id="nombreCasa">{{currentHouse.title}}</h4>
              <p id="descCasa"><i>{{currentHouse.description}}</i></p>
            </div>
          </div>
          <div id="house-members-info">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                <h5>Habitantes</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li *ngFor="let user of houseUsers" class="list-group-item">{{user.name + ' ' + user.lastName}}</li>
              </ul>
            </div><br>
          </div>
        </div>
      </div>
      <div class="col content-box">
        <div class="row">
          <div class="col">
            <div class="content-box-inner">
              <div id="house-info-header">
                <h2>Información general</h2>
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h6>Dirección</h6>
                    <h6><small class="text-muted">{{currentHouse.addressLine}}</small></h6>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h6>Ciudad</h6>
                    <h6><small class="text-muted">{{currentHouse.city}}</small></h6>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h6>Estado</h6>
                    <h6><small class="text-muted">{{currentHouse.state + ", " + currentHouse.country}}</small></h6>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h6>Código Postal</h6>
                    <h6><small class="text-muted">{{currentHouse.zipCode}}</small></h6>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h6>Contribución mensual</h6>
                    <h6><small class="text-muted">${{currentHouse.cost}}</small></h6>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col content-box">
            <div class="content-box-inner">
              <ul class="list-group">
                <li class="list-group-item">
                  <div>
                    <h2>Chat</h2>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="chat-user">
                    <img class="rounded-circle msg_img" src="https://randomuser.me/api/portraits/men/21.jpg" alt="sunil">
                    Pedro Páramo
                  </span>
                  <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="chat-user">
                    <img class="rounded-circle msg_img" src="https://randomuser.me/api/portraits/men/22.jpg" alt="sunil">
                    Carlitos Soto
                  </span>
                  <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="chat-user">
                    <img class="rounded-circle msg_img" src="https://randomuser.me/api/portraits/men/23.jpg" alt="sunil">
                    Senpai Torrentera
                  </span>
                  <span class="badge badge-primary badge-pill">1</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col content-box">
            <div class="content-box-inner">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div>
                    <h2>Tareas</h2>
                  </div>
                </li>
                <li class="list-group-item">
                  <div *ngFor="let task of taskList" class="dashboard-task-entry">
                    <div class="daskboard-task-entry-icon">
                      <i class="fas fa-thumbtack"></i>
                    </div>
                    <div class="daskboard-task-entry-description">
                      <a>{{task.description}}</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4 content-box">
        <div class="content-box-inner">
          <div class="content-box-inner">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div>
                  <strong>Tareas</strong>
                </div>
              </li>
              <li class="list-group-item" *ngFor="let t of taskList">
                <div class="dashboard-task-entry warning">
                  <div class="daskboard-task-entry-icon">
                    <i class="fas fa-thumbtack"></i>
                  </div>
                  <div class="daskboard-task-entry-description">
                    <a>{{t.description}}</a>
                  </div>
                  <div class="daskboard-task-entry-options">
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                  </div>
                </div>
                <div class="dashboard-task-entry">
                  <div class="daskboard-task-entry-icon">
                    <i class="fas fa-thumbtack"></i>
                  </div>
                  <div class="daskboard-task-entry-description">
                    <a>Ejemplo de tarea</a>
                  </div>
                  <div class="daskboard-task-entry-options">
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-lg-4 content-box">
        <div class="content-box-inner">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div>
                <strong>Calendario</strong>
              </div>
            </li>
            <li class="list-group-item">
              <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [weekends]="false" [events]="[
{ title: 'event 1', date: '2019-04-01' },
{ title: 'event 2', date: '2019-04-02' }
]"></full-calendar>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>