<div class="app-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 content-box">
                <div class="content-box-inner">

                    <div class="messaging">
                        <div class="inbox_msg">
                            <div class="mesgs">
                                <div class="msg_history">
                                    <div class="incoming_msg">
                                        <div class="incoming_msg_img"> <img class="rounded-circle"
                                                src="https://randomuser.me/api/portraits/men/21.jpg" alt="sunil">
                                        </div>
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>Y entonces creo que es todo lo que hace falta de viveres.</p>
                                                <span class="time_date"> 11:01 AM | June 9</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="incoming_msg">
                                        <div class="incoming_msg_img"> <img class="rounded-circle"
                                            src="https://randomuser.me/api/portraits/men/21.jpg" alt="sunil">
                                        </div>
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>Por cierto viste si se cambio la fecha del concierto de 31 minutos?</p>
                                                <span class="time_date"> 11:01 AM | June 9</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="outgoing_msg">
                                        <div class="sent_msg">
                                            <p>Si la cambiaron para octubre, lo cual apesta</p>
                                            <span class="time_date"> 11:01 AM | June 9</span>
                                        </div>
                                    </div>
                                    <div class="incoming_msg">
                                        <div class="incoming_msg_img"> <img class="rounded-circle"
                                            src="https://randomuser.me/api/portraits/men/21.jpg" alt="sunil">
                                        </div>
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>Vaya hombre que mala suerte.</p>
                                                <span class="time_date"> 11:01 AM | Yesterday</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="outgoing_msg">
                                        <div class="sent_msg">
                                            <p>No ha sido mi semana ciertamente.</p>
                                            <span class="time_date"> 11:01 AM | Today</span>
                                        </div>
                                    </div>
                                    <div class="incoming_msg">
                                        <div class="incoming_msg_img"><img class="rounded-circle"
                                            src="https://randomuser.me/api/portraits/men/21.jpg" alt="sunil">
                                        </div>
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>Bueno recuerda mañana va a venir la señora a ayudarnos. Aunque no se si sea lo mas conveniente dada la situación. Quiero carne asada.</p>
                                                <span class="time_date"> 11:01 AM | Today</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="type_msg">
                                    <div class="input_msg_write">
                                        <input type="text" class="write_msg" placeholder="Type a message" />

                                            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
                                                    aria-hidden="true"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
