<div class="main">
  <!-- Sing in  Form -->
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="assets/img/signin-image.jpg" alt="sign up image"></figure>
          <a href="#" class="signup-image-link">Crear una cuenta</a>
        </div>
        <div class="signin-form"> 
          <h2 class="form-title">Iniciar Sesión</h2>
          <form class="register-form" id="login-form" #f="ngForm" (ngSubmit)="submit(f)">
            <div class="form-group">
              <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
              <input type="text" ngModel name="email" id="your_name" placeholder="Usuario" required/>
            </div>
            <div class="form-group">
              <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
              <input type="password" ngModel name="password" id="your_pass" placeholder="Contraseña" required/>
            </div>
            <div class="form-group form-button">
              <input type="submit" name="signin" id="signin" class="form-submit" value="Iniciar Sesión" />
            </div>
          </form>
          <div class="social-login">
            <span class="social-label">O inicia sesión con</span>
            <a href="/api/google/login" role="button"><i class="fab fa-google    "></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
