<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 content-box">
            <div class="content-box-inner form-createor-container">
                <ul class="list-grpup">
                    <li class="list-group-item form-creator-header">
                        <div>
                            <strong>Agregar Pregunta</strong>
                        </div>
                        <div>
                            <div class="form-group">
                                <select class="form-control" name="in-from-tupo" id="in-from-tupo"
                                    data-width="100%">
                                    <option selected>Selección Única</option>
                                    <option>Selecció Múltiple</option>
                                    <option>Hora</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <div class="form-group row">
                                <label for="selectionUnica" class="col-sm-2 col-form-label">Pregunta</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="selectionUnica"
                                        placeholder="Pregunta">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="selectionUnicaR01" class="col-sm-2 col-form-label">Respuesta
                                    1</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="selectionUnicaR01"
                                        placeholder="Respuesta">
                                </div>
                            </div>
                            <div>
                                <a name="" id="" class="btn btn-secondary" href="#" role="button">Añadir
                                    Respuesta</a>
                                <a name="" id="" class="btn btn-success" href="#" role="button">Guardar</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-7 content-box">
            <div class="content-box-inner form-createor-container">
                <ul class="list-grpup">
                    <li class="list-group-item form-creator-header">
                        <div>
                            <strong>Agregar Pregunta</strong>
                        </div>
                        <div>
                            <div class="form-group">
                                <select class="form-control" name="in-from-tupo" id="in-from-tupo"
                                    data-width="100%">
                                    <option>Selección Única</option>
                                    <option selected>Selecció Múltiple</option>
                                    <option>Hora</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <div class="form-group row">
                                <label for="selectionUnica" class="col-sm-2 col-form-label">Pregunta</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="selectionUnica"
                                        placeholder="Pregunta">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="selectionUnicaR01" class="col-sm-2 col-form-label">Respuesta
                                    1</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="selectionUnicaR01"
                                        placeholder="Respuesta">
                                </div>
                            </div>
                            <div>
                                <a name="" id="" class="btn btn-secondary" href="#" role="button">Añadir
                                    Respuesta</a>
                                <a name="" id="" class="btn btn-success" href="#" role="button">Guardar</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-7 content-box">
            <div class="content-box-inner form-createor-container">
                <ul class="list-grpup">
                    <li class="list-group-item form-creator-header">
                        <div>
                            <strong>Agregar Pregunta</strong>
                        </div>
                        <div>
                            <div class="form-group">
                                <select class="form-control" name="in-from-tupo" id="in-from-tupo"
                                    data-width="100%">
                                    <option>Selección Única</option>
                                    <option>Selecció Múltiple</option>
                                    <option selected>Hora</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <div class="form-group row">
                                <label for="selectionUnica" class="col-sm-2 col-form-label">Pregunta</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="selectionUnica"
                                        placeholder="Pregunta">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="selectionUnicaR01" class="col-sm-2 col-form-label">Hora
                                    mínima</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="selectionUnicaR01"
                                        placeholder="Hora minima">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="selectionUnicaR01" class="col-sm-2 col-form-label">Hora
                                    máxima</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="selectionUnicaR01"
                                        placeholder="Hora máxima">
                                </div>
                            </div>
                            <div>
                                <a name="" id="" class="btn btn-success" href="#" role="button">Guardar</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-7 content-box">
            <a name="" id="" class="btn btn-danger" href="#" role="button">Finalizar</a>
        </div>
    </div>
</div>