<div>
    <ul class="list-group">
        <li class="list-group-item active">Servicios</li>
        <li class="list-group-item">Electricidad
            <button type="button" name="" id="" class="btn btn-danger float-right" btn-lg btn-block><i class="fa fa-times" aria-hidden="true"></i></button>
        </li>
        <li class="list-group-item">
            <div class="input-group mb-2">   
                <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Gas</option>
                    <option value="1">Electricidad</option>
                    <option value="2">Agua</option>
                    <option value="3">Netflix</option>
                  </select>
                  <div class="input-group-append">
                    <button class="btn btn-success" type="button">Añadir</button>
                  </div>
            </div>    
        </li>
        
    </ul>
</div>
