<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/f9da0729dd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/main.css">
    <style>
        .dashboard-activity-header {
            padding: 20px 12px 20px 12px;
        }

        .dashboard-activity-body {
            padding: 20px 12px 20px 12px;
        }

        .dashboard-activity-body .row {
            padding-left: 40px;
            padding-right: 40px;
        }

        .dashboard-activity-body .content-box {
            padding: 5px;
            color: #333333;
        }

        .dashboard-activity-body .content-box .content-box-inner {
            height: 0px;
            padding-top: 100%;
        }

        .dashboard-activity-body .content-box .content-box-inner>* {
            position: absolute;
            top: 12px;
            bottom: 12px;
            left: 12px;
            right: 12px;
        }

        .dashboard-task-entry {
            padding: 10px;
            display: flex;
            border-left: #0abb87 5px solid;
            justify-content: space-between;
            margin-bottom: 2px;
        }

        .dashboard-task-entry.warning {
            border-left-color: #fd397a;
        }

        .dashboard-task-entry>div {
            padding: 5px;
        }

        .dashboard-task-entry .daskboard-task-entry-icon {
            flex-grow: 1;
        }

        .dashboard-task-entry .daskboard-task-entry-description {
            flex-grow: 3;
        }

        .dashboard-task-entry .daskboard-task-entry-options {
            flex-grow: 1;
        }
    </style>
</head>

<body>
    <!-- Aside -->
    <aside class="app-sidebar app-sidebar-closed">
        <div class="app-sidebar-inner">
            <div class="app-sidebar-header">
                <div class="app-sidebar-header-brand text-center">
                    <span class="align-middle">RoomMe </span>
                </div>
                <div class="app-sidebar-action-btn">
                    <a href="#" id="sidebar-btn" class="text-white">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="app-sidebar-body">
                <ul>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-th"></i>
                                <span>Dashboard</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-home"></i>
                                <span>Lista de casas</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-tasks"></i>
                                <span>Lista de tareas</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-shopping-basket"></i>
                                <span>Lista de compras</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-user"></i>
                                <span>Usuario</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-cog"></i>
                                <span>Ajustes</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm" style="background-color: white;">
        <a name="" id="" class="btn btn-primary" href="#" role="button">
            RoomMe
        </a>
    </nav>

    <!-- Content -->
    <div class="app-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 content-box">
                    <div class="content-box-inner" style="background-color: #fd397a; color:#f5f5f5">
                        <div class="dashboard-activity-header">
                            Actividad
                        </div>
                        <div class="dashboard-activity-body">
                            <div class="row">
                                <div class="col-lg-6 content-box">
                                    <div class="content-box-inner">
                                        <div>
                                            <strong>Notificaciones</strong>
                                            <br>
                                            <small>1 notificación</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 content-box">
                                    <div class="content-box-inner">
                                        <div>
                                            <strong>Tareas</strong>
                                            <br>
                                            <small>2 tareas</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 content-box">
                                    <div class="content-box-inner">
                                        <div>
                                            <strong>
                                                Calendario
                                            </strong>
                                            <br>
                                            <small>0 calendarios</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 content-box">
                                    <div class="content-box-inner">
                                        <div>
                                            <strong>
                                                Mensajes
                                            </strong>
                                            <br>
                                            <small>0 mensajes</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 content-box">
                    <div class="content-box-inner">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div>
                                    <strong>Tareas</strong>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="dashboard-task-entry warning">
                                    <div class="daskboard-task-entry-icon">
                                        <i class="fas fa-thumbtack"></i>
                                    </div>
                                    <div class="daskboard-task-entry-description">
                                        <a>Ejemplo de tarea</a>
                                    </div>
                                    <div class="daskboard-task-entry-options">
                                        <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                                    </div>
                                </div>
                                <div class="dashboard-task-entry">
                                    <div class="daskboard-task-entry-icon">
                                        <i class="fas fa-thumbtack"></i>
                                    </div>
                                    <div class="daskboard-task-entry-description">
                                        <a>Ejemplo de tarea</a>
                                    </div>
                                    <div class="daskboard-task-entry-options">
                                        <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4 content-box">
                    <div class="content-box-inner">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div><strong>Notificaciones</strong>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="dashboard-task-entry">
                                    <div>
                                        Notificación 1
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
</body>

</html>