<!doctype html>
<html lang="en">

<head>
    <title>Creación de encuesta</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/f9da0729dd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/main.css">

    <style>
        .form-createor-container .form-creator-header {
            display: flex;
        }

        .form-createor-container .form-creator-header div {
            width: 50%;
            margin: 0px;
        }

        .form-createor-container .form-creator-header div select {
            width: 100%;
        }

        ul {
            padding: 0px;
        }
    </style>

</head>

<body>
    <!-- Aside -->
    <aside class="app-sidebar app-sidebar-closed">
        <div class="app-sidebar-inner">
            <div class="app-sidebar-header">
                <div class="app-sidebar-header-brand text-center">
                    <span class="align-middle">RoomMe </span>
                </div>
                <div class="app-sidebar-action-btn">
                    <a href="#" id="sidebar-btn" class="text-white">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="app-sidebar-body">
                <ul>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="./dashboard.html" id="">
                                <i class="fas fa-th"></i>
                                <span>Dashboard</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-home"></i>
                                <span>Lista de casas</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-tasks"></i>
                                <span>Lista de tareas</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-shopping-basket"></i>
                                <span>Lista de compras</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-user"></i>
                                <span>Usuario</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-cog"></i>
                                <span>Ajustes</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm" style="background-color: white;">
        <a name="" id="" class="btn btn-primary" href="#" role="button">
            RoomMe
        </a>
    </nav>

    <div class="app-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 content-box">
                    <div class="content-box-inner form-createor-container">
                        <ul class="list-grpup">
                            <li class="list-group-item form-creator-header">
                                <div>
                                    <strong>Agregar Pregunta</strong>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <select class="form-control" name="in-from-tupo" id="in-from-tupo"
                                            data-width="100%">
                                            <option selected>Selección Única</option>
                                            <option>Selecció Múltiple</option>
                                            <option>Hora</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <div class="form-group row">
                                        <label for="selectionUnica" class="col-sm-2 col-form-label">Pregunta</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="selectionUnica"
                                                placeholder="Pregunta">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="selectionUnicaR01" class="col-sm-2 col-form-label">Respuesta
                                            1</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="selectionUnicaR01"
                                                placeholder="Respuesta">
                                        </div>
                                    </div>
                                    <div>
                                        <a name="" id="" class="btn btn-secondary" href="#" role="button">Añadir
                                            Respuesta</a>
                                        <a name="" id="" class="btn btn-success" href="#" role="button">Guardar</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-7 content-box">
                    <div class="content-box-inner form-createor-container">
                        <ul class="list-grpup">
                            <li class="list-group-item form-creator-header">
                                <div>
                                    <strong>Agregar Pregunta</strong>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <select class="form-control" name="in-from-tupo" id="in-from-tupo"
                                            data-width="100%">
                                            <option>Selección Única</option>
                                            <option selected>Selecció Múltiple</option>
                                            <option>Hora</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <div class="form-group row">
                                        <label for="selectionUnica" class="col-sm-2 col-form-label">Pregunta</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="selectionUnica"
                                                placeholder="Pregunta">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="selectionUnicaR01" class="col-sm-2 col-form-label">Respuesta
                                            1</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="selectionUnicaR01"
                                                placeholder="Respuesta">
                                        </div>
                                    </div>
                                    <div>
                                        <a name="" id="" class="btn btn-secondary" href="#" role="button">Añadir
                                            Respuesta</a>
                                        <a name="" id="" class="btn btn-success" href="#" role="button">Guardar</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-7 content-box">
                    <div class="content-box-inner form-createor-container">
                        <ul class="list-grpup">
                            <li class="list-group-item form-creator-header">
                                <div>
                                    <strong>Agregar Pregunta</strong>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <select class="form-control" name="in-from-tupo" id="in-from-tupo"
                                            data-width="100%">
                                            <option>Selección Única</option>
                                            <option>Selecció Múltiple</option>
                                            <option selected>Hora</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <div class="form-group row">
                                        <label for="selectionUnica" class="col-sm-2 col-form-label">Pregunta</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="selectionUnica"
                                                placeholder="Pregunta">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="selectionUnicaR01" class="col-sm-2 col-form-label">Hora
                                            mínima</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="selectionUnicaR01"
                                                placeholder="Hora minima">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="selectionUnicaR01" class="col-sm-2 col-form-label">Hora
                                            máxima</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="selectionUnicaR01"
                                                placeholder="Hora máxima">
                                        </div>
                                    </div>
                                    <div>
                                        <a name="" id="" class="btn btn-success" href="#" role="button">Guardar</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 content-box">
                    <a name="" id="" class="btn btn-danger" href="#" role="button">Finalizar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="./js/main.js"></script>
</body>

</html>