<!doctype html>
<html lang="en">

<head>
    <title>User Edit</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Icons -->
        <script src="https://kit.fontawesome.com/f9da0729dd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/main.css">
    <style>
        /**
        SPACIFIC
        */
        #user-header {
            display: flex;
        }

        #user-header>div {
            padding: 5px;
            border-radius: 5px;
            margin: 0;
        }

        #user-header img {
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <!-- Aside -->
    <aside class="app-sidebar app-sidebar-closed">
        <div class="app-sidebar-inner">
            <div class="app-sidebar-header">
                <div class="app-sidebar-header-brand text-center">
                    <span class="align-middle">RoomMe </span>
                </div>
                <div class="app-sidebar-action-btn">
                    <a href="#" id="sidebar-btn" class="text-white">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="app-sidebar-body">
                <ul>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="./dashboard.html" id="">
                                <i class="fas fa-th"></i>
                                <span>Dashboard</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-home"></i>
                                <span>Lista de casas</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-tasks"></i>
                                <span>Lista de tareas</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-shopping-basket"></i>
                                <span>Lista de compras</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-user"></i>
                                <span>Usuario</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="app-sidebar-action-btn">
                            <a href="#" id="">
                                <i class="fas fa-cog"></i>
                                <span>Ajustes</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm" style="background-color: white;">
        <a name="" id="" class="btn btn-primary" href="#" role="button">
            RoomMe
        </a>
    </nav>

    <!-- Content -->
    <div class="app-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 content-box">
                    <div class="content-box-inner">
                        <div id="user-header">
                            <div id="user-header-image-warper">
                                <img src="https://randomuser.me/api/portraits/men/21.jpg" alt="">
                            </div>
                            <div id="user-header-name-waprer">
                                <h4>Pedro Páramo</h4>
                                <p>Personaje de realismo mágico</p>
                            </div>
                        </div>
                        <div>
                            <span><strong>Correo: </strong>pedro.paramo@llanoenllamas.mx</span>
                            <span><strong>Localización: </strong>Comala, Colima</span>
                        </div>
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item active">Información Personal</li>
                                <li class="list-group-item">Ajustes de Cuenta</li>
                                <li class="list-group-item">Información de Emergencia</li>
                                <li class="list-group-item">PAgos</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 content-box">
                    <div class="content-box-inner">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div><strong>Información personal</strong> Actualiza tu información visible a otros usaurios.
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <div class="form-group row">
                                        <label for="in-nombre" class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="in-nombre" value=""
                                                placeholder="Nombre">
                                        </div>
                                    </div>
                                    <strong>Información de contacto:</strong>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="in-username">Username</label>
                                        <div class="col-sm-10">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="fas fa-at"></i>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" id="in-username"
                                                    placeholder="Username">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="in-email">Correo</label>
                                        <div class="col-sm-10">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="far fa-envelope"></i>
                                                    </div>
                                                </div>
                                                <input type="email" class="form-control" id="in-email"
                                                    placeholder="Correo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="in-phone">Teléfono</label>
                                        <div class="col-sm-10">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="fa fa-phone"
                                                            aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <input type="tel" class="form-control" id="in-phone"
                                                    placeholder="Teléfono">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <a name="" id="" class="btn btn-success" href="#" role="button">Guardar</a>
                                    <a name="" id="" class="btn btn-secondary" href="#" role="button">Descartar</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-4 col-lg-8 content-box">
                    <div class="content-box-inner">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div>
                                    <strong>Información de Emergencia</strong> Actualiza tu información de emergencia.
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <strong>Juan Preciado</strong>
                                    <br>
                                    <span>juan.preciado@llanoenllamas.mx</span>
                                    <br>
                                    <small>Hijo</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    Nuevo
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="./js/main.js"></script>
</body>

</html>