<div>
    <ul class="list-group">
        <li class="list-group-item" style="background-color: goldenrod;">Residentes</li>
        <li class="list-group-item">
            <img class="mini-img-usr rounded-circle" src="https://randomuser.me/api/portraits/men/21.jpg" alt="">
            Pedro Paramo
            <button type="button" name="" id="" class="btn btn-danger float-right" btn-lg btn-block><i class="fa fa-times" aria-hidden="true"></i></button>
        </li>
        <li class="list-group-item">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i>
                </div>
           
            <input type="text" class="form-control" id="in-nombre" value=""
                placeholder="Usuario">
                
            
                
            </div>
            <button class="btn btn-success" type="button">Añadir</button>
        </li>
        
    </ul>
</div>
